<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<title>Tester API Match</title>
	<script src="/createMatch.js"></script>
</head>

<body>
	<h1>Tester les routes API Match</h1>

	<h2>Formulaire Création Match (POST)</h2>
	<form id="createMatchForm" method="post" action="/createMatch/">
		<label>ID user1 : <input type="number" id="idUser1" required /></label>
		<label>ID user2 : <input type="number" id="idUser2" required /></label>
		<pre id="usersResult"></pre>
		<button type="submit">Créer</button>
	</form>

	<h2>Set Has Finish match (PUT)</h2>
	<form method="post" action="/setHasFinishedMatch/">
		<label>ID : <input type="number" name="id" required /></label><br />
		<button type="submit">Modifier</button>
	</form>

	<h2>Set Has Cancel match (PUT)</h2>
	<form method="post" action="/setHasCancelMatch/">
		<label>ID : <input type="number" name="id" required /></label><br />
		<button type="submit">Modifier</button>
	</form>

	<h2>Afficher un match (GET)</h2>
	<form id="getMatchForm">
		<label>ID : <input type="number" id="matchId" required /></label>
		<button type="button" onclick="fetchMatch()">Afficher</button>
	</form>

</body>

</html>
