<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

<h1>PROFIL</h1>

<% if (User) { %>
  <li><%= User.name %></li>
  <li><%= User.email %></li>
<% } else { %>  
   <li>not found</li>
<% } %>

	
</body>
</html>

