<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<title>Inscription</title>
	<script src="/signUp.js"></script>
</head>

<body>
	<h1>SignUp</h1>

	<h2>Formulaire Création Utilisateur </h2>
	<form id="createUserForm" method="post" action="/signUp">
		<label>Nom : <input type="text" name="name" required /></label><br />
		<label>Email : <input type="email" name="email" required /></label><br />
		<label>Passord : <input type="password" name="password" required /></label><br />
		<button type="submit">Créer</button>
	</form>

</body>

</html>
